body {
	margin: 0;
	font: normal 18px/28px Helvetica, Arial, sans-serif;
	background: #fff;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.container {
	width: 950px;
	padding: 0 15px;
	margin: 0 auto;
}
.section4{
	background-color: #000983;
	color: #fff;
	/*padding-top: 42px;*/
	padding-bottom: 84px;
}
.section4 h2{
	font-size: 36px;
	line-height: 1.4em;
	text-align: center;
	position: relative;
	padding-top: 42px;
	padding-bottom: 89px;

}
.section4 h2:after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 68px;
	width: 60px;
	height: 1px;
	background-color: #fff;
	transform: translate(-50%, 0);
}
.section4 span{
	font-size: 28px;
	line-height: 1.4em;
	font-weight: bold;

}
.section4 p{
	font-size: 24px;
	line-height: 1.4em;
	padding-left: 30px;

}