body {
	margin: 0;
	font: normal 18px/28px Helvetica, Arial, sans-serif;
	background: #fff;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.container {
	width: 950px;
	padding: 0 15px;
	margin: 0 auto;
}
.section4{
	margin-top: 0;
}
.section4 dl{
	margin: 0;
	padding-top: 40px;
}
.section4 dt{
	font-size: 28px;
	line-height: 1.4em;
	font-weight: bold;

}
.section4 dd{
	font-size: 24px;
	line-height: 1.4em;
	padding: 10px 0 10px 30px;

}

.dark {
	background: #000983;
	padding-top: 41px;
	padding-bottom: 68px;
	color: #fff;
}

.dark h2 {
	margin: 0;
	font-weight: 400;
	font-size: 36px;
	text-align: center;
}

.dark h2:after {
	content: '';
	display: block;
	width: 60px;
	height: 1px;
	background: #fff;
	margin: 15px auto 0;
}

.section_list {
	list-style-type: square;
	padding: 0;
	margin: 0;
	display: inline-block;
	vertical-align: top;
	margin-top: 48px;
	padding: 0 15px;
	width: 440px;
}

.section_list li {
	font-size: 28px;
	padding-bottom: 19px;
}

.section_list li:last-child {
	padding-bottom: 0;
} 